@import "../../assets/styles/sizes";
@import "../../assets/styles/fonts";
@import "../../assets/styles/colors";
@import "../../assets/styles/media";

.hero {
  background-image: url("../../../public/img/hero360.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 571px;
  color: $color-white;
  @include media-i-phone {
    background-image: url("../../../public/img/hero414.jpg");
    height: 565px;
  }
  @include media-tablet {
    background-image: url("../../../public/img/hero768.jpg");
    height: 1080px;
  }
  @include media-desktop {
    background-image: url("../../../public/img/hero1024.jpg");
    height: 910px;
  }
}

.titleHero {
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  padding-top: 372px;
  // padding-left: 14px;
  // padding-right: 14px;
  width: 335px;

  @include font-hero-title;
  @include media-tablet {
    @include font-sourse-serif-big;
    width: 100%;
    padding-top: 815px;
  }
  @include media-desktop {
    padding-top: 638px;
  }
}

.textHero {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;

  @include media-i-phone {
    font-size: 20px;
  }

  @include media-tablet {
    font-size: 32px;
  }

  @include media-desktop {
    padding-top: 20px;
  }
}
