@import "../../assets/styles/media";
@import "../../assets/styles/fonts";

.linkStocksy {
  display: block;

  width: 41px;
  height: 25px;
  padding: 0;
  border: none;
  background-image: url("../../public/img/icons/icon-stocksy-svg.svg");

  background-repeat: no-repeat;
  background-position: right;
}

.item {
  @include media-desktop {
    margin-right: 10px;
  }
}
