.linkTelegram {
  display: block;
  width: 41px;
  height: 25px;
  padding: 0;
  border: none;
  background-image: url("../../assets/img/icons/icon-telegram-svg.svg");
  background-repeat: no-repeat;
}

.linkViber {
  display: block;
  width: 18px;
  height: 19px;
  padding: 0;
  border: none;
  background-image: url("../../assets/img/icons/icon-viber-svg.svg");
  background-repeat: no-repeat;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  padding-bottom: 20px;
}
