@import "../../assets/styles/media";
@import "../../assets/styles/fonts";

// .blockSlider {
//   // flex: 1 1 auto;
//   // min-width: 0;
//   margin: 0 auto;
// }

.menu {
  display: flex;
  flex-direction: column;

  @include media-tablet {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  @include media-desktop {
    max-width: 1215px;
    margin: 0 auto;
  }
}

.title {
  text-align: center;
  font-weight: 24;
  text-transform: uppercase;
  margin-bottom: 54px;
  margin-top: 40px;
  @include font-delius-bigest;
}

// /////----------------------------------------

// .itemSwiperSlide {
//   min-width: 0 !important;
// }
